/* header */
header .row {
    height: 70px;
}

.logo {
    max-width: 70px;
}

.dd-button {
    max-width: 50px;
}

/* sidebar */
main .sidebar {
    min-width: 70px;
    background-color: dodgerblue;
}

main .main-container {
    height: calc(100vh - 70px);
    width: 100%;
    background-color: red;
}