/* header */
header .row {
    height: 70px;
}

.logo {
    max-width: 70px;
}

.dd-button {
    max-width: 50px;
}

/* sidebar */
main .sidebar {
    max-width: 70px;
    background-color: var(--dark-blue);
    background-image: url(/img/sidebar-bg.png);
    background-size: cover;
    background-position: 0px 100px;
}

/* right-container */

main .right-container {
    height: calc(100vh - 70px);
    width: 100%;
    background-color: red;
}

/* main-top */

main .main-top {
    background-color: var(--blue);
    padding-top: 2.5rem;
}


.custom-file-button {
	input[type="file"] {
		margin-left: -2px !important;

		&::-webkit-file-upload-button {
			display: none;
		}
		&::file-selector-button {
			display: none;
		}
	}

	&:hover {
		label {
			background-color: #dde0e3;
			cursor: pointer;
		}
	}
}



.breadcrumb-item + .breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, "");
}