@media screen and (min-width: 1200px) {
    /* navbar */
    main .sidebar {
        max-width: 170px;
    }

    :root {
        --custom-offcanvas-width: 60%; /* Adjust the width as needed */
      }

    .offcanvas.offcanvas-end {
        width: var(--custom-offcanvas-width);
    }}